/**
  Table of Contents
  ------------------------
  CS01 - Project Elements

**/

/** CS01 Project Elements
 ===================== **/

.project-single-container {
  background-color: #f3f3f3;
  border: 1px solid $darker-blue;
  padding: 25px 15px;
  margin-bottom: 17px;
}

.row-edit {
  line-height: 50px;
  vertical-align: top;
}