$icon-font-path: "fonts/font-awesome/font-awesome/";

$black: #000;
$darker-blue: #054F7D;
$darkest-blue: #161d21;
$silver: #CCC;
$success-green: #4CAF50;
$warning-amber: #FFAE00;
$failure-red: #D9534F;
$failure-red-light: #EE5B57;

$light-blue: #24617F;
$light-blue-hover: #2B7499;
$evergreen: #444444;
$evergreen-hover: #7F7F7F;
$salmon: #7F4A4F;
$salmon-hover: #CC767F;
//$pink: #CC767F;

$dark-blue: #263238;
$blue-gray: #57666D;
$header-bg-blue: #2D3A40;
$light-gray: #CDCDCD;

$dark-bg-light-link: #86a0ac;
$dark-bg-light-link-hover: #6b828c;