$black: #000;
$darker-blue: #054F7D;
$darkest-blue: #161d21;
$silver: #CCC;
$success-green: #4CAF50;
$warning-amber: #FFAE00;
$failure-red: #D9534F;
$failure-red-light: #EE5B57;

$dark-blue: #263238;
$blue-gray: #57666D;
$header-bg-blue: #2D3A40;
$light-gray: #CDCDCD;

$dark-bg-light-link: #86a0ac;

//$success-green: #4CAF50;
//$failure-red: #D9534F;